.pagination {
  list-style-type: none;
  padding: 10px 0;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.pagination li {
  display: block;
  cursor: pointer;
  padding-right: 10px;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 1rem;
  color: var(--dark);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(228, 229, 240);
  cursor: pointer;
  transition: all 0.2s ease;
}

.pagination li.active {
  background-color: var(--primary) !important;
  color: #fff;
  cursor: default;
}

.pagination li:hover {
  background-color: rgb(246, 246, 246);
}