@import '../layouts/main-layout.css';
@import '../layouts/toast.css';
@import '../components/select.css';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.2rem;
}

button:active {
    opacity: 0.6;
    transition-duration: 200ms;
}

body {
    background-color: rgb(248, 248, 252);
    height: 100%;
}

.header-block {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: blue;
    height: 90px;
    z-index: 100;
}

.cart-container {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    min-height: 500px;
}

.cart-link {
    margin-block: 25px;
}

#seperate {
    color: var(--gray-500);
}

.cart-link a {
    text-decoration: none;
    color: var(--gray-500);
}

.row {
    gap: 10px;
}

.col-4,
.col-8 {
    padding: 0;
}

.detele-row {
    margin-bottom: 10px;
}

.cart-title-delete {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.cart-delete {
    margin-block: auto;
    color: var(--primary);
    cursor: pointer;
}

.cart-table {
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    width: 100%;
}

.table-head_row {
    width: 100%;
    border-bottom: 1px solid var(--gray-300);
    font-size: .9rem;
}

.table-head_item {
    padding-block: 5px;
    text-align: left;
}

.table-head_item:nth-child(1) {
    text-align: center !important;
    width: 10%;
}

.table-head_item:nth-child(2) {
    width: 40%;
}

.table-head_item:nth-child(3) {
    text-align: right !important;
    width: 30%;
    padding-right: 20px;
}

.table-head_item:last-child {
    text-align: center !important;
    width: 20%;
}

.table-body_item {
    height: fit-content;
    padding-block: 10px;
    vertical-align: middle;
}

.product-container {
    display: flex;
    gap: 10px;
}

.product-name_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
    text-align: left;
    white-space: pre-wrap;
}

.product-price_container {
    text-align: right;
    padding-right: 20px;
}

.product-price {
    font-weight: 700;
}

.product-cost {
    color: var(--gray-500);
    text-decoration: line-through;
    font-size: .80rem;
}

.product-amount_container {
    display: flex;
    justify-content: center;
}

#amount {
    background-color: white !important;
    width: 30px;
    text-align: center;
    border: 1px solid var(--gray-300);
}

.product-amount_plus,
.product-amount_minus {
    background-color: white !important;
    width: 30px;
    aspect-ratio: 1;
    border: 1px solid var(--gray-300);
}

.product-amount_plus {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.product-amount_minus {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.product-amount_minus:disabled, .product-amount_plus:disabled {
    cursor: not-allowed;
}

.delete-product {
    color: var(--primary);
    padding-block: 10px;
    cursor: pointer;
}

.delete-product:active {
    color: var(--gray-400);
}

.empty-row {
    height: 48px;
}

.total-title {
    margin-block: 6px;
}

.total-container {
    background-color: white;
    border-radius: 10px;
    padding: 15px 20px;
}

.pre-price_container,
.total-price_container {
    display: flex;
    justify-content: space-between;
    line-height: 2.8;
}

.total-price {
    color: var(--primary);
    font-weight: 500;
}

.purchase-btn_container {
    margin-top: 10px;
}

.purchase-btn {
    width: 100%;
    background-color: var(--primary);
    color: white;
    border: transparent;
    border-radius: 6px;
    padding-block: 7px;
}

.purchase-btn:disabled, input:disabled {
    cursor: not-allowed;
}

.product-link {
    text-decoration: none;
    color: black;
}

.product-link:hover {
    color: black;
}

input,
select {
    background-color: var(--gray-200);
    border: .5px solid var(--gray-400);
    padding: 5px;
    border-radius: 5px;
    transition: all 0.2s ease;
}

select:focus {
    outline: none !important;
    border: 1px solid var(--primary);
    background-color: white;

}

.purchase-form_info-label {
    margin-bottom: 5px;
}

#Name,
#Tel,
#Address {
    margin-bottom: 25px;
    width: 100%;
}

.select {
    padding: 0 !important;
}

#Paid {
    padding: 6px;
}

option {
    font-size: 1rem;
}

.no-product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding-block: 20px;
}

.no-product-info {
    color: var(--gray-600);
    margin-block: 20px;
}

.no-product-btn {
    color: white;
    border: 1px solid var(--primary);
    border-radius: 8px;
    padding: 10px;
    background-color: var(--primary);
}

@media only screen and (width <=520px) {
    .total-title {
        text-align: center;
    }

    .pre-price_container,
    .total-price_container {
        flex-direction: column;
        padding: 5px 0px;
        text-align: center;
    }
}