@import "../components/select.css";
@import "../components/input.css";

.import-products-header {
  display: flex;
}

.import-products-header_item {
  border: 1px solid var(--gray-200);
  transition: all 0.2s ease;
  cursor: pointer;
}

.import-products-header_item a {
  padding: 8px;
  display: block;
  transition: all 0.2s ease;
}

.import-products-header_item:hover{
  background-color: var(--gray-200);
}

.import-products-header_item:first-child {
  border-top-left-radius: 12px;
}

.import-products-header_item:last-child {
  border-top-right-radius: 12px;
}

.import-products-header_item.active {
  background-color: white;
  border-color: transparent;
}

.import-products-header_title {
  font-weight: 600;
  font-size: 1rem;
}

.import-products-table {
  background-color: white;
  min-height: calc(100vh - 32px - 128px);
  height: calc(100vh - 32px - 128px);
  overflow-y: auto;
  border-radius: 12px;
}

.import-products-bg {
  background-color: transparent;
}

.import-products-table_filter {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
}

.import-products-table_add-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: var(--primary);
  padding: 8px 12px;
  border-radius: 18px;
  cursor: pointer;
}

.import-products_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.import-products_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.import-products_item {
  display: flex;
  gap: 10px;
}

.import-products_image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid var(--gray-200);
}

.product-amount_container {
    display: flex;
}

#amount {
    background-color: white !important;
    width: 60px;
    text-align: center;
    border-top: 1px solid var(--gray-300);
    border-bottom: 1px solid var(--gray-300);
    border-radius: 0px !important;
}

.product-amount_plus,
.product-amount_minus {
    background-color: white !important;
    width: 30px;
    aspect-ratio: 1;
    border: 1px solid var(--gray-300);
}

.product-amount_plus {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.product-amount_minus {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}