.content {
  padding: 30px 15px;
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.header-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 30px 8px 12px;
  width: 100%;
  margin-bottom: 35px;
  margin-top: 15px;
}

.header-dashboard__navigation {
  display: flex;
  gap: 6px;
  align-items: center;
}

.header-dashboard__navigation a,
.header-dashboard__navigation span {
  font-size: 1.4rem;
  font-weight: 400;
  opacity: 0.8;
}

.header-dashboard__navigation a:hover {
  text-decoration: underline;
}

.header-dashboard__action {
  display: flex;
  gap: 20px;
}

.header-dashboard__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease;
}

.header-dashboard__link:hover {
  color: var(--primary);
}

.header-dashboard__link span {
  font-size: 1.4rem;
  font-weight: 600;
}

.dashboard-resume {
  margin-bottom: 70px;
}

.dashboard-resume__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard-resume__header h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

.dashboard-resume_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px
}

.dashboard-resume_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 22px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 3.5px 5.5px;
  border-radius: 15px;
  min-height: 83px;
  min-width: 0px;
  overflow-wrap: break-word;
}

.dashboard-resume_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dashboard-resume_info h4 {
  font-weight: 600;
  font-size: 0.9rem;
  color: #A0aec0;
}

.dashboard-resume_info p {
  font-weight: 600;
  font-size: 1.3rem;
}

.dashboard-resume_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  height: 45px;
  width: 45px;
  background: var(--primary);
  color: white;
}

.dashboard-resume__chart > div {
  width: 100%;
}

.dashboard-chart,
.dashboard-bestseller {
  margin-bottom: 60px;
}

.dashboard-resume__chart,
.dashboard-bestseller_table {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 3.5px 5.5px;
  border-radius: 15px;
  padding: 12px;
}