@import "../components/select.css";

.orders-header {
  display: flex;
}

.orders-header_item {
  border: 1px solid var(--gray-200);
  transition: all 0.2s ease;
  cursor: pointer;
}

.orders-header_item a {
  padding: 8px;
  display: block;
  transition: all 0.2s ease;
}

.orders-header_item:hover{
  background-color: var(--gray-200);
}

.orders-header_item:first-child {
  border-top-left-radius: 12px;
}

.orders-header_item:last-child {
  border-top-right-radius: 12px;
}

.orders-header_item.active {
  background-color: white;
  border-color: transparent;
}

.orders-header_title {
  font-weight: 600;
  font-size: 1rem;
}

.orders-table {
  background-color: white;
  min-height: calc(100vh - 32px - 170px);
  height: calc(100vh - 32px - 170px);
  overflow-y: auto;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.orders-bg {
  background-color: transparent;
}

.orders-table_filter {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}