@import "../components/select.css";

.warranties-header {
  display: flex;
}

.warranties-header_item {
  border: 1px solid var(--gray-200);
  transition: all 0.2s ease;
  cursor: pointer;
}

.warranties-header_item a {
  padding: 8px;
  display: block;
  transition: all 0.2s ease;
}

.warranties-header_item:hover{
  background-color: var(--gray-200);
}

.warranties-header_item:first-child {
  border-top-left-radius: 12px;
}

.warranties-header_item:last-child {
  border-top-right-radius: 12px;
}

.warranties-header_item.active {
  background-color: white;
  border-color: transparent;
}

.warranties-header_title {
  font-weight: 600;
  font-size: 1rem;
}

.warranties-table {
  background-color: white;
  min-height: calc(100vh - 32px - 128px);
  height: calc(100vh - 32px - 128px);
  overflow-y: auto;
  border-radius: 12px;
}

.warranties-bg {
  background-color: transparent;
}

.warranties-table_filter {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
}

.warranties-table_add-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: var(--primary);
  padding: 8px 12px;
  border-radius: 18px;
  cursor: pointer;
}