/* BANNER SLIDER */
.slider {
  width: 100%;
  height: 100%;
  min-height: 426px;
  max-height: 426px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  flex: 1;
}

.slider > .swiper {
  height: 426px;
}

.slider:hover .swiper-button-prev,
.deal-slider:hover .swiper-button-prev,
.top-brands_slider:hover .swiper-button-prev,
.viewed-product_slider:hover .swiper-button-prev,
.detail-product_related-slider:hover .swiper-button-prev,
.slider:hover .swiper-button-next,
.deal-slider:hover .swiper-button-next,
.top-brands_slider:hover .swiper-button-next,
.viewed-product_slider:hover .swiper-button-next,
.detail-product_related-slider:hover .swiper-button-next {
  visibility: visible;
  opacity: 0.8;
}

.slider-background {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.slider-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute !important;
  z-index: 1 !important;
  border: none !important;
  width: 75px !important;
  height: 75px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: var(--gray-300);
  transform: translateY(-25%) !important;
  top: 50% !important;
  border-radius: 50% !important;
  color: var(--primary);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.swiper-button-prev {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
}

.swiper-button-prev:hover {
  opacity: 1 !important;
  filter: brightness(1.2);
}

.swiper-button-next {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.swiper-button-next:hover {
  opacity: 1 !important;
  filter: brightness(1.2);
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
}

.swiper-pagination .swiper-pagination-bullet {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #eee;
  transition: all 0.5s ease;
}

.swiper-pagination .swiper-pagination-bullet-active {
  padding: 0 25px;
  border-radius: 10px;
  background-color: var(--primary);
}

.slick-disabled {
  display: none !important;
}


/* DEAL SLIDER */
.deal-slider .slick-list {
  padding: 20px;
}

/* TOP BRANDS SLIDER */
.top-brands_slider .slick-list {
  padding: 10px;
}

/* VIEWED PRODUCT SLIDER */
.viewed-product_slider .slick-list {
  padding: 10px;
}

/* RELATED PRODUCT SLIDER */
.detail-product_related-slider .slick-list {
  padding: 10px;
}
